{% if programming_set %}
    <div class="card border-danger">
        <div class="card-header" style="background-color: rgb(167,31,31);">
            <h6 class="card-title text-center text-white mb-0" style="font-size: 13px;">Listado de cursos</h6>
        </div>
        <div class="card-body pb-1">
            <div class="table-responsive small dataTables_wrapper">
                <table id="table-programming-list"
                       class="table   align-content-center table-bordered response"
                       cellspacing="0" width="100%" style="border-collapse:collapse;">
                    <thead>
                    <tr class="text-center  text-white"
                        style="background-color: rgba(167,31,31, 1.0);">
                        <th class="th-sm font-weight-normal">N°</th>
                        <th class="th-sm font-weight-normal">Curso</th>
                        <th class="th-sm font-weight-normal">Docente</th>
                        <th class="th-sm font-weight-normal">Fecha Inicio</th>
                        <th class="th-sm font-weight-normal">Fecha Fin</th>
                        <th class="th-sm font-weight-normal">Costo</th>
                        <th class="th-sm font-weight-normal">Max</th>
                        <th class="th-sm font-weight-normal">Horas</th>
                        <th class="th-sm font-weight-normal">Observacion</th>
                        <th class="th-sm font-weight-normal">Estado</th>
                        <th class="th-sm font-weight-normal">Fecha Registro</th>
                        <th class="th-sm font-weight-normal">Acción</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                    {% for c in programming_set %}
                        <tr class="text-center">
                            <td class="align-middle"><strong>{{ c.id }}</strong></td>
                            <td class="align-middle">{{ c.course.name }}</td>
                            <td class="align-middle">{{ c.person.full_name }}</td>
                            <td class="align-middle">{{ c.start_date }}</td>
                            <td class="align-middle">{{ c.end_date }}</td>
                            <td class="align-middle">{{ c.course_price }}</td>
                            <td class="align-middle">{{ c.vacancies }}</td>
                            <td class="align-middle">{{ c.hours }}</td>
                            <td class="align-middle">{{ c.observation }}</td>
                            <td class="align-middle">{{ c.get_state_display }}</td>
                            <td class="align-middle">{{ c.create_at }}</td>
                            <td class="p-1 align-middle">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success  dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 11px;">
                                        Acción
                                    </button>
                                    <div class="dropdown-menu border-info font-italic">
                                        <a class="dropdown-item btn-update-course"
                                           style="cursor: pointer; font-size: 11px;" pk="{{ c.id }}"><i
                                                class="fas fa-edit pr-1"></i> Modificar Programacion </a>
{#                                        {% if e.user %}#}
{#                                            <a class="dropdown-item btn-update-user"#}
{#                                               style="cursor: pointer; font-size: 11px;"#}
{#                                               pk="{{ e.user.id }}">#}
{#                                                <i class="fas fa-sync-alt"></i> Modificar usuario#}
{#                                            </a>#}
{#                                        {% else %}#}
{#                                            <a class="dropdown-item btn-create-user"#}
{#                                               style="cursor: pointer; font-size: 11px;" pk="{{ e.id }}">#}
{#                                                <i class="fas fa-sync-alt"></i> Creacion de usuario#}
{#                                            </a>#}
{#                                        {% endif %}#}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="text-center text-white" style="background-color: rgba(141,20,20, 1.0);">
                         <th class="th-sm font-weight-normal">N°</th>
                        <th class="th-sm font-weight-normal">Curso</th>
                        <th class="th-sm font-weight-normal">Docente</th>
                        <th class="th-sm font-weight-normal">Fecha Inicio</th>
                        <th class="th-sm font-weight-normal">Fecha Fin</th>
                        <th class="th-sm font-weight-normal">Costo</th>
                        <th class="th-sm font-weight-normal">Max</th>
                        <th class="th-sm font-weight-normal">Horas</th>
                        <th class="th-sm font-weight-normal">Observacion</th>
                        <th class="th-sm font-weight-normal">Estado</th>
                        <th class="th-sm font-weight-normal">Fecha Registro</th>
                        <th class="th-sm font-weight-normal">Acción</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <h6>No existen programaciones registradas</h6>
{% endif %}
<script type="text/javascript">
    $('#table-programming-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
            fixedHeader: {
                header: true,
                {#footer: true#}
            }
        });
</script>