<div class="modal-dialog modal-dialog-centered modal-lg montserrat" role="document">

    <div class="modal-content">

        <div class="modal-header" style="background-color: rgb(190,35,35);">
            <h5 class="modal-title  text-white" style="font-size: 14px;">ACTUALIZACION DE PROGRAMACIONES</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="form-programming-update" class="embed-responsive" enctype="multipart/form-data"
              action="{% url 'certification:update_programming' %}" method="POST">
            {% csrf_token %}

            <div class="modal-body">
                <div class="card border-danger">
                    <div class="card-header" style="background-color: rgb(190,45,20);">
                        <h6 class="card-title text-center text-white mb-0" style="font-size: 14px;">ACTUALIZA DATOS DE
                            LA
                            PROGRAMACION</h6>
                        <input type="hidden" class="form-control" id="id-programming" name="id-programming" value="{{ programming_obj.id }}">
                    </div>
                    <div class="card-body">
                        <div class="row col-sm-12 col-md-12 col-lg-12 m-0 mt-2">
                            <div class="col-sm-4 col-md-4 col-lg-4 align-self-center">
                                <label class="mb-0">Curso</label>
                                <select class="form-control" id="id-course-reg" name="id-course-reg"
                                        style="font-size: 13px;"
                                        required>
                                    <option disabled selected value="0">Seleccione</option>
                                    {% for c in course_set %}
                                        {% if programming_obj.course.id == c.id %}
                                            <option selected value="{{ c.id }}">{{ c.name }}</option>
                                        {% else %}
                                            <option value="{{ c.id }}">
                                                {{ c.name }}
                                            </option>
                                        {% endif %}

                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 align-self-center">
                                <label class="mb-0">Docente</label>
                                <select class="form-control" id="id-person-reg" name="id-person-reg"
                                        style="font-size: 13px;"
                                        required>
                                    <option disabled selected value="0">Seleccione</option>
                                    {% for p in person_set %}
                                        {% if programming_obj.person.id == p.id %}
                                            <option selected value="{{ p.id }}">{{ p.full_name }}</option>
                                        {% else %}
                                            <option value="{{ p.id }}">
                                                {{ p.full_name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row col-sm-12 col-md-12 col-lg-12 m-0 mt-2">
                            <div class="col-sm-4 col-md-4 col-lg-4 align-self-center">
                                <label class="mb-0">Fecha inicio</label>
                                <input type="date" class="form-control" id="id-start-date"
                                       name="id-start-date"
                                       value="{{ programming_obj.start_date|date:'Y-m-d' }}" style="font-size: 12px;" required>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 align-self-center">
                                <label class="mb-0">Fecha finalizacion</label>
                                <input type="date" class="form-control" id="id-end-date"
                                       name="id-end-date"
                                       value="{{ programming_obj.end_date|date:'Y-m-d' }}" style="font-size: 12px;" required>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 align-self-center">
                                <label class="mb-0">Horas academicas</label>
                                <input type="number" class="form-control" id="id-hour"
                                       name="id-hour"
                                       value="{{ programming_obj.hours }}" style="font-size: 12px;" required>
                            </div>
                        </div>
                        <div class="row col-sm-12 col-md-12 col-lg-12 m-0 mt-2">
                            <div class="col-sm-4 col-md-4 col-lg-4 align-self-center">
                                <label class="mb-0">Costo del curso</label>
                                <input type="text" class="form-control" id="id-price"
                                       name="id-price"
                                       value="{{ programming_obj.course_price|safe }}" style="font-size: 12px;" required>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 align-self-center">
                                <label class="mb-0">Cantidad maxima</label>
                                <input type="number" class="form-control" id="id-quantity"
                                       name="id-quantity"
                                       value="{{ programming_obj.vacancies }}" style="font-size: 12px;" required>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 align-self-center">
                                <label class="mb-0">Estado</label>
                                <select class="form-control" id="id-state" name="id-state"
                                        style="font-size: 13px;"
                                        required>
                                    <option disabled selected value="0">Seleccione</option>
                                    {% for s in state %}
                                        {% if programming_obj.state == s.0 %}
                                            <option selected value="{{ s.0 }}">{{ s.1 }}</option>
                                        {% else %}
                                            <option value="{{ s.0 }}">{{ s.1 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row col-sm-12 col-md-12 col-lg-12 m-0 mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-12 align-self-center">
                                <label class="mb-0">Observaciones</label>
                                <textarea class="form-control" id="id-observation" name="id-observation" rows="4" cols="200">{{ programming_obj.observation }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button id="save-programming" type="submit" class="btn btn-warning btn-sm">Actualizar programacion
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('#id-person-reg').select2({
        theme: 'bootstrap4',
    });
    $('#id-course-reg').select2({
        theme: 'bootstrap4',
    });
    $('#form-programming-update').submit(function (event) {
        event.preventDefault();
        let data = new FormData($('#form-programming-update').get(0));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response) {
                if (response.message) {
                    toastr.success('Programacion actualizada correctamente', 'Mensaje');
                    setTimeout(() => {
                        location.reload();
                    }, 400);
                }
            },
            error: function (response) {
                toastr.error('¡Problemas al actualizar datos!', 'Mensaje');
            }
        });
    });
</script>